 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, button, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font-family: 'Roboto', sans-serif;
 	vertical-align: baseline;
 }
 button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
  width: 100%;
  margin: 0 auto;
 }
 input{
   border-style:none;
   -webkit-appearance: none;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 button{
   -webkit-appearance: none;
   outline: none;
   -moz-appearance: none;
   cursor: pointer;
 }
 .group:after {
 content: "";
 display: block;
 clear: both;
}
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }
 ::-webkit-scrollbar {
    display: none;
}



 .header {
     display: flex;
     flex: 1 100%;
     justify-content: space-between;
     align-items: center;
     background-color: #3d3c3b;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     padding-left: 20px;
     padding-right: 20px;
 }

 .header-title {
   color: white;
   font-size: 20px;
   text-decoration: none;
   padding: 10px;
   font-family: 'Roboto', sans-serif;
 }

 .header-link{
   display: flex;
   align-items: center;
   text-decoration: none;
   cursor: pointer;
 }

 .logo {
   width: 50px;
   height: 30px;
   padding: 5px;
 }

 .content{
   height: 100%;
 }

 .nav-bar {
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }

 .nav-bar button{
   color: #d9d7d6;
   padding: 5px;
   background-color: #3d3c3b;
   cursor: pointer;
 }

.overview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-image: url("https://res.cloudinary.com/duhmzsirt/image/upload/v1478677565/3624953-dj-set-wallpaper_brlrr0.jpg");
  position: fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

.overview h1{
  color: #d9d7d6;
  font-size: 30px;
  display: inline-block;
}

.overview-body{
  color:#d9d7d6;
  font-size: 24px;
  display: inline-block;
  text-align: center;
}

.overview button{
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  background-color: #bc78ff;
}

.overview button:hover{
  background-color: #ad42ff;
}

.profile-pic{
  width: 15px;
  height: 15px;
  padding-right: 5px;
}

.session-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-form-container h4{
  padding: 10px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  border-bottom: 2px #ad42ff solid;
}

.login-form{
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form label{
  padding: 5px;
}

.login-input{
  outline: 0;
  padding: 5px;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
}

.song-form-container h4{
  padding: 5px;
  border-bottom: 2px #ad42ff solid;
}

.song-form{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song-input{
  display: block;
  height: 20px;
  box-sizing: border-box;
}

.form-button{
  display: inline-block;
  transition-duration: 0.4s;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #bc78ff;
  color: black;
  border: 2px solid #ad42ff;
}

.form-button:hover{
  background-color: #ad42ff;
  color: white;
}

.song-index{
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex: 1 100%;
}

.current-index {
  text-decoration: underline;
}

.song-sidebar{
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.song-sidebar h3{
  padding: 10px;
}

.link{
  text-decoration: none;
  color: black;
}

.song-item-container{
  flex: 9;
}

 .song-item {
   display: flex;
   border: 1px solid black;
   border-radius: 5px;
   margin: 5px;
 }

 .song-item-text-container{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-around;
 }

 .song-item-text{
   font-family: 'Roboto', sans-serif;
   padding: 5px;
 }

 .song-item-text-user{
   font-family: 'Roboto', sans-serif;
   padding: 5px;
   color: #bdbbba;
 }

 .song-item img{
   height: 50px;
   width: 50px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
 }

 .song-detail-container{
   display: flex;
   flex: 1 100%;
   flex-direction: column;
   justify-content: flex-start;
   border: 1px solid black;
   border-radius: 5px;
 }

 .song-detail{
   border: 1px solid black;
   border-radius: 5px;
   display: flex;
   flex: 1 100%;
 }

 .song-detail img{
   width: 100px;
   height: 100px;
   padding: 10px;
 }

 .song-detail-text-box{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 10px;
 }

 .song-detail-text{
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   padding: 5px;
 }

 .song-detail-text-user{
   font-family: 'Roboto', sans-serif;
   color: #bdbbba;
   padding: 5px;
 }

 .song-detail-button{
   border-radius: 10px;
   padding: 5px;
   background-color: #bc78ff;
 }

 .song-detail-button:hover{
   background-color: #ad42ff;
 }

.song-detail-delete{
  display: inline-block;
  transition-duration: 0.4s;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.song-detail-delete:hover{
  background-color: #f44336;
  color: white;
}

.song-comments-container{
  border: 1px solid black;
  border-radius: 5px;
}

.song-comments-container h4{
  padding: 5px;
}

.song-comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.song-comments li{
  width: 100%;
}

.song-comment{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.song-comment-body{
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.comment-delete{
  transition-duration: .4s;
  background-color: #f44336;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid #f44336;
  color: white;
}

.comment-delete:hover{
  background-color: white;
  color: #f44336;
}

.comment-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.comment-textbox{
  width: 200px;
  height: 100px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
}

.user-songs-container{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-songs-container h3{

}

.user-song-item{
  width: 100%;
}
