<!DOCTYPE html>
<html>
<head>
  <title>DropCloud</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src='https://widget.cloudinary.com/global/all.js'/>
  <script type="text/javascript">
   window.CLOUDINARY_OPTIONS = {
     cloud_name: 'duhmzsirt',
     upload_preset: 'thkagmlk',
     theme:"minimal"
   };
 </script>
</head>
<body>

<%= yield %>

</body>
</html>
